<div class='container__div'>
  <h3>How well you know about {{quizUserName}}</h3>
  <div class="friendDetails__div">
    <form class="friendDetails__form">
      <h3>Please enter your name</h3>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.minlength">
          Name must be at least 3 characters.
        </div>
      </div>
      <input type="text" id="name" name="name" #name="ngModel" class="form-control friendName" autocomplete="off" [(ngModel)]="friendName" required
        minlength="3" placeholder="Enter your name" />
      <button type="button" class="btn" [disabled]="friendName === 'null' || friendName === undefined || friendName.length <3 || friendName.length >20"
        (click)="onStartQuiz()">Start Quiz</button>
    </form>
    <div class="instructions__div">
      <b>
        <h3>Instructions:</h3>
      </b>
      <ul>
        <li>Enter your name.</li>
        <li>Answer the Questions about your friend.</li>
        <li>Check your score at the scoreboard, once the quiz is finished</li>
      </ul>
    </div>
  </div>

</div>
