<div class="content container-fluid col-12">
    <app-google-adsense class="col-lg-3 col-xs-3 ad_unit_1" [data]="adSlotId" [dataAdFormat]="dataAdFormat"
        [dataFullWidthResponsive]="dataFullWidthResponsive"></app-google-adsense>
    <div class="col-lg-6 col-xs-2 justify-content-center text-center">
        <b>Frequently asked questions</b>
        <ul>
            <li>
                <b> 1. How do I check my scoreboard? </b>
                <ul>
                    <li>
                        Open your quiz URL in the same browser where you had created the quiz. Then scroll down to check
                        your
                        scoreboard.
                    </li>
                    <li>
                        For example: If you have created quiz in chrome browser, then open your quiz URL in chrome and
                        scroll down
                        to
                        check your scoreboard.
                    </li>
                </ul>
            </li>
            <li>
                <b> 2. How do I delete my UNWANTED names on my scoreboard?</b>
                <ul>
                    <li>
                        Open your quiz URL in the same browser from where you had created the quiz.
                    </li>
                    <li>
                        Now scroll down to check your scoreboard.
                    </li>
                    <li>
                        You would find a TRASHCAN button 🗑️beside your friends-name & score.
                    </li>
                    <li>
                        Click on the button to delete the UNWANTED name.
                    </li>
                </ul>
            </li>
            <li>
                <b>3. How do I delete my quiz?</b>
                <ul>
                    <li>
                        Open your quiz URL in the same browser from where you had created the quiz.
                    </li>
                    <li>
                        Now scroll down, click on "Delete & Create New Quiz" button and your quiz is deleted.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <app-google-adsense class="col-lg-3 col-xs-3 ad_unit_2" [data]="8753040497"></app-google-adsense>
</div>