<div class="answerQuiz__div">
  <div class="question__progress__div">
    <ul>
      <li *ngFor="let q of questionsList; let i = index">
        <div *ngIf="i < noOfSelectedQuestions">
          <div *ngIf="q === true; else wrong_answer">
            <h4 class="question__number correct__answer">{{i+1}}</h4>
          </div>
          <ng-template #wrong_answer>
            <h4 class="question__number wrong__answer">{{i+1}}</h4>
          </ng-template>
        </div>
        <div *ngIf="i >= noOfSelectedQuestions" class="non__select__question">
          <h4 class="question__number">{{i+1}}</h4>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="selectedQuestion !== null && selectedQuestion.options != null">
    <h3 class="question__name__div">{{selectedQuestion.questionName}}</h3>
    <div class="options__div">
      <div *ngFor="let option of selectedQuestion.options; let i = index">
        <div *ngIf="option != null">
          <div *ngIf="isImageContent; else string_content">
            <button [id]="['content__div__'] + i" [disabled]="isAlreadyAnswered" (click)="onOptionSelectedByUser(option)">
              <div class="option__div">
                <img class="option__img" src={{option.image}} />
                <h4 class="option__string__div">{{option.content}}</h4>
              </div>
            </button>
          </div>
          <ng-template #string_content>
            <button [id]="['content__div__'] + i" [disabled]="isAlreadyAnswered" (click)="onOptionSelectedByUser(option)">
              <div class="option__string__div">
                <h4>{{option.content}}</h4>
              </div>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>