@media only screen and (max-width: 600px) {
  .score__div {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: solid;
    background-color: white;
    border-color: pink;
    border-width: 0.5px;
    border-radius: 15px;
    min-height: 500px;
    padding: 15px;
    box-shadow: rgba(0, 0, 255, 0.1) 0px 0px 32px 0px;
  }
  .ad_1 {
    max-height: 150px !important; 
    height: 150px !important;
  }
}