<div class="aboutUs">
    <h2 class="aboutUsTitle">
        About us
    </h2>
    <div class="aboutFunQuiz">
        <h2 class="aboutFunQuizTitle">
            About FunQuiz
        </h2>
        <h3>
            FunQuiz helps in enagaging you with friends and family. It asks simple questions about interests of you and
            find out who know better about you.
        </h3>
    </div>
    <div class="aboutVillageSoftware">
        <h2 class="aboutVillageSoftwareTitle">
            About The Village Software
        </h2>
        <h3>
            The Village Software builds quality websites and apps. To reach us mail
        </h3>
        <a href="mailto:thevillagesoftware@outlook.com">thevillagesoftware@outlook.com</a>
    </div>
</div>