.scores__div {
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: solid;
  background-color: white;
  border-color: pink;
  border-width: 0.5px;
  padding: 10px;
  min-height: 600px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 255, 0.1) 0px 0px 32px 0px;
}

.score__table__div {
  margin: 15px;
  padding: 5px;
}

.share__info {
  margin: 10px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
